<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanshare.crush.market" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >

        <activity
            android:name=".order.view.HistoryOrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".trade.view.QuotationDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".trade.view.KlineLandscapeActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/activity_fullscreen"
            />

        <activity
            android:name=".trade.view.TradeActivity1"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

    </application>

</manifest>
