<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanshare.crush.account">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Account.AppTheme">
        <activity
            android:name=".view.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.GeetestVerifyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Account.TranslucentTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.ForgotPasswordVerifyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.SetPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.SecondVerifyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.EditLoginPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.EditAssetsPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.SetAssetsPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.SelectCountryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.PhoneBindingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.PhoneStartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity android:name=".view.GoogleVerifyActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.PhoneManagerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.PhoneCloseActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.GoogleQrActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.GoogleOperationActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.AuthorInfoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.GoogleStartActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.GoogleSetActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.SecurityActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.AuthorRealNameActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.AuthorCompanyActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
