<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weshare.wanxiang">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".sophix.SophixStubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/ws_app_theme"
        tools:replace="theme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data android:value="5b602dfe8f4a9d4c7b00013e" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Umeng" android:name="UMENG_CHANNEL"/>

        <activity
            android:name=".main.view.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/activity_welcome"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.view.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />

        <service
            android:name="com.wanshare.wscomponent.gfw.core.LocalVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service android:name="com.wanshare.wscomponent.websocket.WebSocketService"/>
        <receiver android:name="com.wanshare.wscomponent.websocket.NetworkChangedReceiver"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/install_file"/>
        </provider>

    </application>

</manifest>